@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2e1360;
  --button-color: #156b6a;
  --accent-color: #fff000;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-size: 1.4rem;
  font-family: system-ui, sans-serif;
  padding: 1.6rem 2rem;
  color: #252525;
  gap: 5rem;
}

.wrapper {
  display: flex;
}

.main-container {
  max-width: 400px;
  margin-inline: auto;
}

img {
  display: none;
}

h1 {
  margin-top: 3.6rem;
  font-size: clamp(2.6rem, 4vw, 3.4rem);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.subtext {
  font-size: 1.6rem;
  font-weight: 500;
  margin-block: 0.5rem 2rem;
  text-align: center;
}

form {
  margin-top: 2rem;
}

h1,
h3 {
  color: var(--primary-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 1rem;
}

label {
  color: #1f1f1f;
}

label:last-of-type p {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-top: 0.5rem;
  font-weight: 400;
}

input {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.8rem;
  border-style: solid;
  border-color: lightgrey;
}

input:focus {
  outline-color: var(--button-color);
}

button,
input {
  border-radius: 4px;
}

button {
  display: block;
  padding-block: 1rem;
  margin-block: 1.2rem 0.3rem;
  font-weight: 600;
  font-size: 1.6rem;
  background: var(--button-color);
  color: #ffffff;
  border: none;
}

a {
  text-decoration: none;
  color: var(--button-color);
  font-weight: 600;
}

.policy {
  margin-bottom: 2.5rem;
}

.sign-in {
  margin-top: 1.2rem;
  text-align: center;
}

.policy,
.policy a {
  font-size: 1.4rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.remember-wrapper label {
  align-self: flex-end;
}

.remember {
  width: auto;
  accent-color: var(--button-color);
}

.container a {
  color: red;
  font-weight: 400;
}

@media screen and (min-width: 48em) {
  header {
    padding: 2rem 2rem 0;
  }  

  h3 {
    font-size: 1.8rem;
  }

  .main-container {
    /* max-width: 450px; */
  }

  label {
    font-size: 2rem;
  }

  label:last-of-type p {
    font-size: 1.4rem;
  }

  .policy,
  .policy a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 64em) {
  .wrapper {
    max-width: 1200px;
    margin-inline: auto;
  }

  header {
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem 0 0;
  }

  h1 {
    text-align: left;
    margin-inline: auto;
  }

  img {
    display: block;
    width: 400px;
    max-width: 600px;
    flex: 1 1 0;
    margin-block: auto;
  }

  .main-container {
    flex: 2 1 0;
    max-width: 450px;
  }

  label {
    font-size: 2rem;
  }

  label:last-of-type p {
    font-size: 1.4rem;
  }

  .policy,
  .policy a {
    font-size: 1.5rem;
  }
}
